.hero{
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 60vh;
    width: 100%;
    background: #0b3660;
}
.hero-phrase{
    width: 50%;
    color: white;
    padding: 30px;
    max-width: 600px;
}
.hero-phrase h1 { 
    font-size: 50px;
    font-weight: bold;
    margin-bottom: 20px;
    line-height: 1.2;
}
.hero-phrase p { 
    font-size: 20px; 
    margin-bottom: 30px; 
    line-height: 1.4; 
}
.btn { 
    background: white;
    color: #0b3660;
    padding: 15px 25px;
    border-radius: 4px;
    font-weight: bold;
    text-decoration: none;
    transition: 0.3s;
}
.btn:hover { 
    background: #e6e6e6; 
}
@media (max-width: 768px){
    .hero {
    flex-direction: column;
    text-align: center; 
    }
}