* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}

/* NAVBAR */
.navbar {
    width: 100%;
    padding: 15px 40px;
    background: white;
    display: flex;
    align-items: center;
    justify-content: space-between;
    border-bottom: 1px solid #ddd;
}

.logo {
    font-size: 22px;
    font-weight: bold;
    color: #1d6ff0;
}

.nav-links {
    display: flex;
    gap: 30px;
}

.nav-links a {
    text-decoration: none;
    color: black;
    font-size: 16px;
    transition: 0.2s;
}

.nav-links a:hover {
    color: #1d6ff0;
}

.cart-icon {
    font-size: 20px;
    cursor: pointer;
}

.menu-btn {
    display: none;
    font-size: 26px;
    cursor: pointer;
}

/* MOBILE */
.mobile-menu {
    display: none;
    flex-direction: column;
    background: white;
    padding: 20px;
    border-bottom: 1px solid #ddd;
}

.mobile-menu a {
    padding: 10px 0;
    text-decoration: none;
    color: black;
    font-size: 18px;
}

.mobile-menu.open {
    display: flex;
}

/* intro */
.intro img {
    width: 100%;
    height: auto;
    display: block;
}

/* RESPONSIVE */
@media (max-width: 900px) {
    .nav-links {
        display: none;
    }
    .cart-icon {
        display: none;
    }
    .menu-btn {
        display: block;
    }
}
