.reviews {
    max-width: 1100px;
    margin: 60px auto;
    padding: 0 20px;
}
.reviews h2 {
    font-size: 22px;
    font-weight: bold;
    color: #0b3660;
    margin-bottom: 30px;
}
.reviews-contenair {
    display: flex;
    gap: 25px;
    justify-content: space-between;
    flex-wrap: wrap;
}
.review-card {
    flex: 1;
    min-width: 280px;
    border: 1px solid #e0e0e0;
    padding: 25px;
    background: #fafafa;
    border-radius: 6px;
    position: relative;
}
.review-card .guillemet {
    color: #0b3660;
    font-size: 30px;
    font-weight: bold;
}
.review-card p {
    font-size: 14px;
    line-height: 1.6;
    margin: 15px 0 20px;
    color: #333;
}


.review-card h4 {
    font-size: 14px;
    font-weight: 600;
    color: #555;
}

/* RESPONSIVE */
@media (max-width: 768px) {
    .reviews-container {
        flex-direction: column;
        gap: 20px;
    }
}