.services {
    text-align: center;
    padding: 50px 20px;
    font-family: Arial, sans-serif;
}

.services h2 {
    font-size: 26px;
    color: #0A2A52; 
    margin-bottom: 40px;
}

.services-contenair {
    display: flex;
    justify-content: center;
    gap: 40px;           
    flex-wrap: wrap;     
}

.service-box {
    width: 280px;
}

.service-box img {
    width: 100%;
    height: 300px;
    border-radius: 5px;
}

.service-box h3 {
    margin-top: 15px;
    font-size: 16px;
    color: #0A2A52;
}
.btn:hover {
    background-color: #074080;
}
.btne {
    display: inline-block;
    margin-top: 35px;
    padding: 10px 25px;
    background-color: #0A2A52;
    color: white;
    text-decoration: none;
    border-radius: 4px;
    font-size: 14px;
    transition: 0.3s;
}