/* SECTION SHOP */
.shop-section {
    width: 100%;
    padding: 40px 40px;
    background: white;
}

.shop-section h2 {
    font-size: 24px;
    font-weight: bold;
    color: #0a2b63;
    margin-bottom: 30px;
}


.shop-grid {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    gap: 30px;
    text-align: center;
}

.shop-item img {
    width: 100%;
    height: auto;
    border-radius: 4px;
    background: #f8f8f8;
}

.shop-item p {
    margin-top: 10px;
    font-size: 14px;
    font-weight: bold;
    color: #0a2b63;
}

/* RESPONSIVE */
@media (max-width: 1100px) {
    .shop-grid {
        grid-template-columns: repeat(3, 1fr);
    }
}

@media (max-width: 700px) {
    .shop-grid {
        grid-template-columns: repeat(2, 1fr);
    }
}

@media (max-width: 480px) {
    .shop-grid {
        grid-template-columns: 1fr;
    }
}
